<!DOCTYPE html>
<html>

<head>
  <title>妝典 Cosme</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="妝典">
  <meta property="og:url" content="網址">
  <meta property="og:image" content="縮圖">
  <meta property="og:description" content="描述">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel='stylesheet' href='/css/style.min.css' />

</head>

<body>
  <div class="color-bg"></div>
  <section class="content">
    <div class="tittle">
      <!-- <img src="/img/logo.png" height="60px" alt=""> -->
      <img src="/img/title.png" height="60px" alt="">
      <span class="tittle-text">妝典</span>
    </div>
    <p style="font-size: 30px; margin:5px 0;">彩妝社群電商平台</p>
    <a href="/mainApp" class="submit">妝典 Web App</a>
    <a href="/shop" class="submit">示範電商網站</a>
    <!-- <a href="/share">前往體驗分享頁面</a>  -->
    <div id="cosme_SDK" param="陳建宇" token="is used to check if this website has registered"></div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <script src="/sdk/cosme_sdk.js"></script>
</body>

</html>