<div class="breadcrumb-area pages-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 breadcrumb-padding pages-p">
        <div class="breadcrumb-title">
          <h1><%= tittle%></h1>
        </div>
        <div class="breadcrumb-list">
          <ul class="breadcrumb">
            <li>You are here: </li>
            <li><a href="index.html">Home</a></li>
            <li>Shop</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>