<footer id="footer-area">
  <div class="footer-top-area">
    <div class="container">
      <div class="row">
        <!-- newsletter start -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="newsletter">
            <h2>Email 訂閱:</h2>
            <form action="#">
              <input type="text" placeholder="電子信箱" />
              <button type="submit"><i class="fa fa-envelope"></i></button>
              <a href="#">隱私權條例</a>
            </form>
          </div>
        </div>
        <!-- newsletter end -->
        <!-- footer-contact start -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="footer-contact">
            <ul>
              <li>
                <span>聯絡地址:</span>
                <span>82444 <br>高雄市燕巢區深中路62號</span>
              </li>
              <li>
                <span>聯絡電話:</span>
                <span>
                  +330 875369227 - Office<br>
                  +330 355563114 - Fax
                </span>
              </li>
            </ul>
          </div>
        </div>
        <!-- footer-contact end -->
        <!-- footer-contact start -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="footer-contact">
            <ul>
              <li class="cc-space">
                <span>Email:</span>
                <span><a href="#">support@intensy.com</a> <br />
                  <a href="#">info@intensy.com</a></span>
                <div class="su-spacer"></div>
              </li>
              <li>
                <span>關注我們:</span>
                <span>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-linkedin-square"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <!-- footer-contact end -->
      </div>
    </div>
  </div>
  <!-- footer-top-area end -->
  <!-- footer-bottom-area start -->
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="copyright">
            <p>COPYRIGHT © 2020 ALL RIGHT RESERVED BY <a href="#" target="_blank">Intensy</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="footer-menu">
            <nav>
              <ul>
                <li><a href="#">品牌介紹</a></li>
                <li><a href="#">門市資訊</a></li>
                <li><a href="#">彩妝商品</a></li>
                <li><a href="#">優惠活動</a></li>
                <li><a href="#">購物車</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>