<header id="nav-area"></header>
<div id="sticker" class="header-area">
  <div class="container">
    <div class="row">
      <!-- logo start -->
      <div class="col-md-2 col-lg-3">
        <div class="logo">
          <a href="/shop"><img src="img/logo/logo.svg" alt="" /></a>
        </div>
      </div>
      <!-- logo end -->
      <!-- mainmenu start -->
      <div class="col-md-10 col-lg-9">
        <div class="header-search">
          <form action="#">
            <span class="search-button"><i class="fa fa-search"></i></span>
            <input type="text" placeholder="search..." />
          </form>
        </div>
        <div class="mainmenu">
          <nav>
            <ul id="nav">
              <li><a href="#">品牌介紹</a></li>
              <li><a href="#">門市資訊</a>
                <ul class="sub-menu">
                  <li><a href="#">搜尋門市</a></li>
                  <li><a href="#">活動公告</a></li>
                </ul>
              </li>
              <li><a href="/shop/products">彩妝商品</a>
                <div class="mega-menu mega-menu-shop">
                  <span>
                    <a class="mega-menu-title badge-hot" href="#">唇部彩妝</a>
                    <a href="#">口紅/唇膏</a>
                    <a href="#">護唇膏</a>
                    <a href="#">唇部護理</a>
                  </span>
                  <span>
                    <a class="mega-menu-title" href="#">臉部彩妝</a>
                    <a class="new-pro" href="#">腮紅</a>
                    <a href="#">修容</a>
                    <a href="#">粉底系列</a>
                    <a href="#">遮瑕</a>
                    <a href="#">蜜粉</a>
                  </span>
                  <span>
                    <a class="mega-menu-title badge-populer" href="#">眼部彩妝</a>
                    <a href="#">眉彩</a>
                    <a href="#">睫毛膏</a>
                    <a href="#">眼線</a>
                    <a href="#">眼影</a>
                    <a href="#">眼部卸妝</a>
                    <br>
                  </span>
                </div>
              </li>
              <li><a href="#">優惠活動</a></li>
              <li><a href="#">購物車</a></li>
              <li><a href="#">訂單查詢</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- mainmenu end -->
    </div>
  </div>
</div>
<!-- mobile-menu-area start -->
<div class="mobile-menu-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mobile-menu">
          <div class="logo">
            <a href="index.html"><img src="img/logo/logo.svg" alt="" /></a>
          </div>
          <nav id="dropdown">
            <ul>
              <li><a href="index.html">品牌介紹</a></li>
              <li><a href="#">門市資訊</a>
                <ul>
                  <li><a href="#">搜尋門市</a></li>
                  <li><a href="#">活動公告</a></li>
                </ul>
              </li>
              <li><a href="products">彩妝商品</a>
                <ul>
                  <li>
                    <a class="mega-menu-title badge-hot" href="#">唇部彩妝</a>
                    <a href="#">口紅/唇膏</a>
                    <a href="#">護唇膏</a>
                    <a href="#">唇部護理</a>
                  </li>
                  <li>
                    <a class="mega-menu-title" href="#">臉部彩妝</a>
                    <a class="new-pro" href="#">腮紅</a>
                    <a href="#">修容</a>
                    <a href="#">粉底系列</a>
                    <a href="#">遮瑕</a>
                    <a href="#">蜜粉</a>
                  </li>
                  <li>
                    <a class="mega-menu-title badge-populer" href="#">眼部彩妝</a>
                    <a href="#">眉彩</a>
                    <a href="#">睫毛膏</a>
                    <a href="#">眼線</a>
                    <a href="#">眼影</a>
                    <a href="#">眼部卸妝</a>
                    <br>
                  </li>
                </ul>
              </li>
              <li><a href="#">優惠活動</a></li>
              <li><a href="#">購物車</a></li>
              <li><a href="#">訂單查詢</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</header>