<div class="row">
  <div class="col-md-12">
    <div class="shop-pagination">
      <div class="pagination-shop">
        <ul>
          <li class="display">Display #</li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">Next</a></li>
          <li><a href="#">End</a></li>
          <li class="page-one"> Page 1 of 2</li>
        </ul>
      </div>
      <div class="page-right">
        <p>Results 1 - 12 of 16</p>
      </div>
    </div>
  </div>
</div>