.layout {
  display: flex;
  min-height: 100%;
  @media (min-width: 992px) {
    // @include bg(45, #8be7e3, #fec8da);
    @include bg(180, lighten(#8be7e3,1), lighten(#fec8da,1));
    max-height: 100vh;
    height: 100%;
  }
  @media (max-width: 991px) {
    flex-direction: column;
    justify-content: center;
    @include bg(90, #8be7e3, #fec8da);
  }
}
.layout-content{
  @media (min-width: 992px){
    display: flex;
    align-items: center;
    flex-grow: 1;
    .con{
      height: 80%;
      max-height: calc(100vh - 150px);
      flex-grow: 1;
      min-width: 200px;
      overflow: hidden;
    }
    &.menu-content{
      padding-left: 10vw;
      width: 25%;
      min-width: calc(200px + 10vw);
      .con{
        background-image: url(~@/assets/img/bg/navbar.jpg);
        background-size: cover;
        border-radius: 20px 0 0 20px;
        padding: 25px 0;
        display: flex;
        justify-content: flex-end;
      }
    }
    &.main-content{
      padding-right: 10vw;
      width: 75%;
      background-color: rgba(#fff, .6);
      justify-content: flex-start;
      .con{
        background-color: #fff;
        border-radius: 0 20px 20px 0;
      }
    }
  }
  @media (max-width: 991px){
    &.main-content{
      margin-top: 60px;
      flex: 1;
      padding: 0 10px;
      .con{
        background-color: #fff;
        border-radius: 25px 25px 0 0;
        height: 100%;
        min-height: calc(100vh - 60px);
      }
    }
  }
}